/****************************************/
/* common styles used for v1 through v4 */
/****************************************/

body          { font-family: Arial, Helvetica, sans-serif; background-color: black}
#canvas       { position: absolute; z-index: 0; width:99vw; height: 56vw; z-index: 0; background-color: black; image-rendering: pixelated;}
